<div class="flex flex-column">
  <span class="mb-4 title-viaje" style="font-size: 40px; text-align: center;"><strong>RUTAS</strong></span>
  <b *ngIf="( loading$ | async )">Cargando... </b>
  <mat-form-field>
    <mat-label> Origen </mat-label>
    <input maxlength="3" minlength="3" type="text" matInput placeholder="Ingrese origen" [formControl]="origenCtrl"
      oninput="this.value = this.value.toUpperCase()">
      <mat-icon matPrefix>flight_takeoff</mat-icon>
    <div *ngIf="origenCtrl.invalid && (origenCtrl.dirty || origenCtrl.touched)">
      <p class="error-message">
        <small *ngIf="origenCtrl.hasError('required')">
          El campo es obligatorio.
        </small>
        <small *ngIf="origenCtrl.hasError('maxlength')">
          El valor máximo de caracteres es 3.
        </small>
        <small *ngIf="origenCtrl.hasError('pattern')">
          Solo se permiten letras.
        </small>
      </p>
    </div>
  </mat-form-field>

  <mat-form-field>
    <mat-label> Destino </mat-label>
    <input maxlength="3" minlength="3" type="text" matInput placeholder="Ingrese destino" [formControl]="destinoCtrl"
    oninput="this.value = this.value.toUpperCase()" (keydown.enter)="getRoute()">
    <mat-icon matPrefix>flight_land</mat-icon>
    <div *ngIf="destinoCtrl.invalid && (destinoCtrl.dirty || destinoCtrl.touched)">
      <p class="error-message">
        <small *ngIf="destinoCtrl.hasError('required')">
          El campo es obligatorio.
        </small>
        <small *ngIf="destinoCtrl.hasError('maxlength')">
          El valor máximo de caracteres es 3.
        </small>
        <small *ngIf="destinoCtrl.hasError('pattern')">
          Solo se permiten letras.
        </small>
      </p>
    </div>
  </mat-form-field>

  <small *ngIf="origenCtrl.value && destinoCtrl.value && origenCtrl.value === destinoCtrl.value" class="error-message">
    El origen y el destino no pueden ser iguales
  </small>

  <button mat-button mat-flat-button color="primary" class="flat-button" [disabled]="origenCtrl.invalid || destinoCtrl.invalid || origenCtrl.value == destinoCtrl.value" (click)="getRoute()">
    <mat-icon>search</mat-icon>
    Buscar mejor ruta
  </button>
</div>

<div *ngIf="showCurrency">
  <mat-divider class="mb-5 mt-5"></mat-divider>
  <app-currency-select></app-currency-select>
  <app-card-large [journey]="flightsData"></app-card-large>
</div>
